# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# Environment variable files
.env

# IDE and editor configurations
.vscode/

# pyenv
.python-version

# Database files (if using SQLite)
*.db
*.sqlite3

# FastHTML specific
.sesskey